@import url(http://fonts.googleapis.com/css?family=Oxygen:700);

* {
	margin: 0;
	padding: 0;
}

body {

	font-family: Arial, Helvetica, sans-serif;
	background-color: #F0F0F0;
	color: #1F1F1F;

}

#page {
	width: 1000px;
	margin: 30px auto 0 auto;
	background-color: red;
}

#navigation {
	float: left;
	list-style-type: none;
	width: 200px;
	background-color: #F0F0F0;
}

#navigation>li {
	background-color: rgb(222, 222, 222);
	width: 100%;
	font-size: 21px;
	border: 1px solid black;
	margin: 10px 0 10px 0;
}

#navigation>li:hover {
	cursor: pointer;
}

#navigation>li>.menuRoot {
	display: block;
	border-bottom: 1px solid black;
	padding: 5px 0 5px 5px;
}

#navigation>li>.menuChild {
	display: block;
	width: 185px;
	padding: 5px 0 5px 15px;
}

#navigation>li>.menuRoot:hover, #navigation>li>.menuChild:hover {
	background-color: rgb(190, 190, 190);
}

#rightColumn {
	float: right;
	width: 790px;
}

#rightColumn>#pageTitle {
	text-align: right;
	padding: 5px 20px 5px 0;
	border-right: 1px solid rgb(90, 90, 90);
	border-bottom: 1px solid rgb(90, 90, 90);
}

#rightColumn>#content {
	width: 780px;
	padding: 5px 10px 30px 10px;
	background-color: rgb(250, 250, 250);
}

/* -----JOHN'S STUFF----- */

span#mainTitle {

	font-size: 50px;
	color: #038551;
	text-shadow: 2px 1px #333;

}

span#mainTitle, h1, h2, h3 {

	font-family: 'Oxygen', sans-serif;

}

p {

	margin: 10px 0;

}

div#intro  p, div#outro p {

	font-weight: bold;

}

a {

	color: inherit;
	text-decoration: none;
	border-bottom: 1px #038551 dotted;

}

div.captionedImage {

	margin: 20px auto;
	border: 1px solid #F0F0F0;
	width: 75%;
	padding: 10px;
	-webkit-box-shadow: 0px 11px 25px rgba(28, 28, 28, 0.65);
	box-shadow:         0px 11px 25px rgba(28, 28, 28, 0.65);

}

	div.captionedImage img {
	
		display: block;
		margin: 0 auto;
	
	}

	div.captionedImage p {
	
		font-family: 'Myriad Pro', Verdana, sans-serif;
		font-style:italic;
		text-align: center;
		background-color: #F0F0F0;
		padding: 10px;
	
	}

ul#navigation li.item {

	background-color: #038551;
	color: #F0F0F0;

}

	ul#navigation li.item span.link {
	
		color: white;
	
	}
